*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style:none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Montserrat', sans-serif;
}

body{
background-color:rgb(220, 220, 220);


}

nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:25px 60px;
    background: #1488CC; 
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
    background: linear-gradient(to right, #2B32B2, #1488CC);
}

.brand{
    font-weight:900;
    font-size:20px;
    color:#fff;
}

.navlists > li{
    display:inline-block;
    margin-left:19px;
}

.navlists > li > a{
    color:#fff;
}

.get-started-btn{
    border:2px solid #fff;
    padding:8px 14px;
    border-radius:4px;
    background-color: transparent;
    box-shadow:1px 1px 5px gray;
    color:#fff;
}

.main-area{
    min-height:90vh;
    display:flex;
    align-items: center;
    padding:10px 60px;
    position:relative;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    background: #1488CC; 
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
    background: linear-gradient(to right, #2B32B2, #1488CC);
}

.content-head{
    font-size:3.5rem;
    color:#fff;
    letter-spacing: 2px;
}
.content-paragraph{
    margin-top:10px;
    color:#fff;
}
.links{
    color:rgb(212, 207, 207);
}
.content-btn{
    padding:10px 35px;
    border:none;
    border-radius:20px;
    text-transform: uppercase;
    color:#fff;
    background-color: rgb(6, 145, 6);
    box-shadow:0px 3px 10px rgb(6, 145, 6);
    margin-top:20px;
    cursor:pointer;
}

.content,.form-area{
    width:50%;
}

.form-area{
    display: flex;
    justify-content:flex-end;
}
.form{
    width:350px;
    background-color:#fff;
    padding:35px 40px 45px 40px;
    box-sizing: border-box;
    border-radius:4px;
    box-shadow:7px 7px 30px -10px black;
}
.form > span{
    font-size:20px;
    display:block;
    text-align:center;
    font-weight:bolder;
}
.form-input:nth-child(2){
    margin-top:15px;
    width:100%;
}
.form-input{
    margin-top:15px;
}
.form-input  input,select{
    width:100%;
    box-sizing: border-box;
    padding:9px 10px;
    border:none;
    border-radius:4px;
    background-color:rgb(220, 220, 220);
    outline: none;
}
.form-input > select{
    cursor: pointer;
}
.form-input > input[type=submit]{
    border-radius:40px;
    color:white;
    background-color:#3457D5;
    cursor: pointer;
    box-shadow:0px 3px 10px #3457D5;
}

.message,.messageEmail,.messageCat,.messagePhone{
    font-size:12px;
    color:red;
    display:none;
}


/* for tablet devices */
@media screen and (max-width:768px)
{
    nav{
        position:relative;
    }
    .navlists{
        width:100%;
        margin:0;
        position:absolute;
        top:100%;
        left:0;
        z-index:99;
        background: #1488CC; 
        background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
        background: linear-gradient(to right, #2B32B2, #1488CC);
        box-shadow:4px 4px 10px #2B32B2;
        display:none;
        -webkit-animation-name: slideLeft;
        animation-name: slideInLeft;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    /* slide in effect for navlist */
    @-webkit-keyframes slideInLeft {
        0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        }
        @keyframes slideInLeft {
        0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        } 
    .show{
        display:block;
    }

    .navlists > li{
        display:block;
        margin:15px 0;
        padding:0 60px;
    }
    .menu > i{
        font-weight:bold;
        color:#fff;
    }
    .main-area{
        flex-direction:column;
        min-height:auto;
    }
    .content{
        width:100%;
        margin-top:100px;
    }
    .content > .content-head{
        font-size:2.8rem;
    }
    .content > button{
        display:block;
    }
    .form-area{
        width:100%;
        justify-content:center;
        margin-bottom:80px;
    }
    .form{
        margin-top:50px;
    }

}

